@charset "UTF-8";
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

body {
  width: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  margin: 0;
}

.navbar {
  padding: 1rem;
  font-size: 20px;
  color: white;
  background-color: #84bae0;
}

.Mv {
  position: relative;
  margin-bottom: 10rem;
}

@media screen and (max-width: 365px) {
  .Mv {
    margin-bottom: 5rem;
  }
}

.Mv .MvImage img {
  max-width: 100%;
  max-height: 700px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

@media screen and (max-width: 365px) {
  .Mv .MvImage img {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.Mv .MvComment .imgTop {
  position: absolute;
  top: 10rem;
  right: 20rem;
}

@media screen and (max-width: 365px) {
  .Mv .MvComment .imgTop {
    width: 50%;
    top: 2rem;
    right: 10rem;
  }
}

.Mv .MvComment .imgBottom {
  position: absolute;
  top: 20rem;
  right: 5rem;
}

@media screen and (max-width: 365px) {
  .Mv .MvComment .imgBottom {
    width: 50%;
    top: 5rem;
    right: 1rem;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

@media screen and (max-width: 365px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 5rem;
  }
}

.about .aboutMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 365px) {
  .about .aboutMessage .aboutPolocyImage {
    margin: 0 auto 3rem auto;
  }
}

.about .aboutMessage p {
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 365px) {
  .about .aboutMessage p {
    width: 95%;
    margin: 0 auto;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 365px) {
  .about .aboutMessage img {
    width: 90%;
    margin: 0 auto;
  }
}

.about .aboutImage {
  -webkit-clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
}

@media screen and (max-width: 365px) {
  .about .aboutImage {
    margin: 0 1rem;
  }
}

.about .aboutImage img {
  width: 100%;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  margin-bottom: 10rem;
}

@media screen and (max-width: 365px) {
  .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10rem;
  }
}

.message .shachoWrapper {
  margin-right: 5rem;
}

@media screen and (max-width: 365px) {
  .message .shachoWrapper {
    margin: 0 1rem;
  }
}

.message .shachoWrapper .shachoFaceImage {
  width: 100%;
}

.message .messageComment {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

@media screen and (max-width: 365px) {
  .message .messageComment {
    position: initial;
    margin-bottom: 2rem;
  }
}

.message .messageComment .messegeWrapper h2 {
  background-color: #84bae0;
  font-size: 95px;
  letter-spacing: 0.5rem;
  font-family: "Franklin Gothic Medium", sans-serif;
  margin-bottom: 1rem;
}

@media screen and (max-width: 365px) {
  .message .messageComment .messegeWrapper h2 {
    font-size: 40px;
  }
}

.message .messageComment .messegeWrapper p {
  font-size: 18px;
  color: #9fa0a0;
  font-weight: bold;
  margin: 0;
}

.message .messageComment .shachoCommentImage {
  position: absolute;
  top: 13rem;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

@media screen and (max-width: 365px) {
  .message .messageComment .shachoCommentImage {
    width: 95%;
    top: 22rem;
    -webkit-transform: initial;
            transform: initial;
  }
}

.employee {
  margin-bottom: 10rem;
}

.employee h2 {
  background-color: #84bae0;
  font-size: 95px;
  letter-spacing: 0.5rem;
  font-family: "Franklin Gothic Medium", sans-serif;
  margin-bottom: 5rem;
}

@media screen and (max-width: 365px) {
  .employee h2 {
    font-size: 40px;
    margin-bottom: 3rem;
  }
}

.employee .employeeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 365px) {
  .employee .employeeList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.employee .employeeList .employeeBox {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.employee .employeeList .employeeBox img {
  width: 300px;
}

.employee .employeeList .employeeBox .img2 {
  margin-top: 8rem;
}

@media screen and (max-width: 365px) {
  .employee .employeeList .employeeBox .img2 {
    margin-top: 3rem;
  }
}

.employee .employeeList .employeeBox .img3 {
  margin-top: 16rem;
}

@media screen and (max-width: 365px) {
  .employee .employeeList .employeeBox .img3 {
    margin-top: 3rem;
  }
}

.employee .employeeList .employeeBox .img4 {
  margin-top: 24rem;
}

@media screen and (max-width: 365px) {
  .employee .employeeList .employeeBox .img4 {
    margin-top: 3rem;
  }
}

.employee .employeeList .employeeBox .employeeComment {
  width: 300px;
  background: #074ea1;
  color: white;
  text-align: center;
}

.employee .employeeList .employeeBox .employeeComment p {
  line-height: 1.5rem;
}

.entry {
  margin-bottom: 10rem;
}

.entry .entryForm {
  background: #074ea1;
  color: white;
  text-align: center;
  padding: 2rem;
}

.entry .job {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 365px) {
  .entry .job {
    margin: 0;
  }
}

.entry .jobDiscription {
  line-height: 1.5rem;
  margin: 2rem 0;
}

@media screen and (max-width: 365px) {
  .entry .jobDiscription {
    margin: 2rem auto;
    line-height: 1.5rem;
  }
}

.entry .submit {
  width: 200px;
  background: #074ea1;
  color: white;
  padding: 1rem 2rem;
  margin: 4rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.entry input[type="submit"],
.entry input[type="text"],
.entry select,
.entry textarea,
.entry button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.entry input[type="text"],
.entry textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 90%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-radius: 0;
}

.entry input[type="text"]:focus,
.entry textarea:focus {
  background: #e9f5fb;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.entry textarea[name="content"] {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.entry input::-webkit-input-placeholder,
.entry textarea::-webkit-input-placeholder {
  color: #ccc;
}

.entry input:-ms-input-placeholder,
.entry textarea:-ms-input-placeholder {
  color: #ccc;
}

.entry input::-ms-input-placeholder,
.entry textarea::-ms-input-placeholder {
  color: #ccc;
}

.entry input::placeholder,
.entry textarea::placeholder {
  color: #ccc;
}

.entry .form-table {
  width: 100%;
}

.entry .form-table th,
.entry .form-table td {
  border: 1px solid #d7d7d7;
  padding: 20px;
}

@media screen and (max-width: 365px) {
  .entry .form-table th,
  .entry .form-table td {
    display: block;
    border-bottom: none;
  }
}

.entry .form-table th {
  background: #84bae0;
  padding-left: 50px;
  position: relative;
  text-align: left;
  width: 300px;
  color: white;
}

footer {
  background-color: #84bae0;
}

footer .footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerWrapper p {
  padding: 1rem;
  font-size: 20px;
  color: white;
  background-color: #84bae0;
}

footer .footerWrapper .icon .fa-facebook-square {
  color: #1877f2;
  margin-right: 1rem;
}

footer .footerWrapper .icon .fa-twitter-square {
  color: #1da1f2;
  margin-right: 1rem;
}

footer .footerWrapper .icon .fa-instagram-square {
  color: #cf2e92;
}

footer .footerWrapper .copyright p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */