$blue: #3bbfce;
$margin: 16px;

.navbar {
  background-color: blue;
}
.Mv {
  position: relative;
  margin-bottom: 10rem;
  .MvImage {
    img {
      max-width: 100%;
      max-height: 700px;
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    }
  }
  .MvComment {
    .imgTop {
      position: absolute;
      top: 10rem;
      right: 20rem;
    }
    .imgBottom {
      position: absolute;
      top: 20rem;
      right: 5rem;
    }
  }
}

footer {
  background: green;
}
